@model KevinBhavinRestaurant.ViewModel.ShoppingCartViewModel
@{
    ViewBag.Title = "Takeout List";
}
<!-- Azure Link: http://kevinbhavingourmetfinal.azurewebsites.net/ -->
<!-- Gihub: https://github.com/Gametracker-Kevin-Bhavin/KevinBhavinRestaurant/tree/finalproject -->
<!-- 
    Members:
    Jan Kevin Munar
    Bhavin Master
    Mamunur Rahman
    Aayushi Shah
    -->
<h3 id="menutitle">
    <em>Review</em> your cart:
</h3>
<div id="menutable">
    <div class="checkbtn">
        @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout")
    </div>

    <div id="update-message">
    </div>
    <table id="carttable">
        <tr>
            <th>
                
            </th>
            <th>
                Name
            </th>
            <th>
                Price (each)
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
        @foreach (var item in
                    Model.CartItems)
        {
            <tr id="row-@item.Id">
                <td>
                    <Img src="~/@Html.DisplayFor(modelItem => item.MenuItem.smallPhoto)" width=180 height=120 />
                </td>
                <td>
                    @Html.ActionLink(item.MenuItem.name, "Details", "MenuItems", new { id = item.Id }, null)
                </td>
                <td>
                    @item.MenuItem.price
                </td>
                <td id="item-count-@item.Id">
                    @item.Count
                </td>
                <td>
                    <a href="#" class="RemoveLink" data-id="@item.Id">Remove from cart</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                Total
            </td>
            <td></td>
            <td></td>
            <td id="cart-total">
                @Model.CartTotal
            </td>
        </tr>
    </table>
</div>

