@model KevinBhavinRestaurant.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="detailstable">
    <h2>@Html.DisplayFor(model => model.name)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt> <!-- Header for Menu Item type-->
            Type: 
        </dt>

        <dd> <!-- Display the type -->
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt> <!-- Header of the Menu Item Picture-->
            What it looks like
        </dt>

        <dd> <!-- Display the picture for the Menu Item-->
            <Img src="~/@Html.DisplayFor(model => Model.largePhoto)" width=480 height=320/>
        </dd>

        <dt> <!-- Header for Menu Item Detailed Description-->
            Description
        </dt>

        <dd> <!-- Long Description for the Menu Item -->
            @Html.DisplayFor(model => model.longDescription)
        </dd>

        <dt> <!-- Header for the Menu Item Price -->
            Price $(CAD)
        </dt>

        <dd> <!-- Price for the Menu Item in CAD-->
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.id }, "")
    </p>
</div>
<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.id })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
