@model IEnumerable<KevinBhavinRestaurant.MenuItem>

@{
    ViewBag.Title = "Menu";
}

<h1 id="menutitle">@ViewBag.Title</h1>
<h2 id="subheadertable"> Main Dish </h2>
<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table" id="menutable"> <!-- Main Dish Table-->
    <tr>

        <th>
            <!-- Header for Menu Item Name-->
            <div id="tableheader">Name</div>
        </th>
        <th>
            <!-- Header for Menu List Photo -->
            <div id="tableheader">What it looks like</div>
        </th>
        <!-- Future References
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.largePhoto)
        </th>
           <th>
            @Html.DisplayNameFor(model => model.longDescription)
        </th>
         -->
        <th>
            <!-- Header for Summary Description -->
            <div id="tableheader">Description</div>
        </th>

        <th>
            <!-- Header for Price -->
            <div id="tableheader">Price (CAD)</div>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.type == "Main Dish")
        {
            <tr>

                <td id="pricecss">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <Img src="~/@Html.DisplayFor(modelItem => item.smallPhoto)" width=280 height=180 />
                </td>
                <!-- Future References
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.largePhoto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longDescription)
                </td>
                -->
                <td id="shortdesccss">
                    @Html.DisplayFor(modelItem => item.shortDescription)
                </td>

                <td id="pricecss">
                    $ @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <div class="checkbtn">
                            @Html.ActionLink("Edit", "Edit", new { id = item.id })
                        </div>
                    }
                    <div class="checkbtn">
                        @Html.ActionLink("Details", "Details", new { id = item.id })
                    </div>
                    @if (User.IsInRole("admin"))
                    {
                        <div class="checkbtn">
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </div>
                    }
                </td>
            </tr>
        }
    }

</table>

<h2 id="subheadertable"> Beverages </h2>
<table class="table" id="menutable"> <!-- Beverage Table -->
    <tr>
        
        <th> <!-- Header for Menu Item Name-->
            <div id="tableheader">Name</div>
        </th>
        <th> <!-- Header for Menu List Photo -->
            <div id="tableheader">What it looks like</div>
        </th>
        <!-- Future References
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th> 
            @Html.DisplayNameFor(model => model.largePhoto)
        </th>
           <th>
            @Html.DisplayNameFor(model => model.longDescription)
        </th>
         -->
        <th> <!-- Header for Summary Description -->
            <div id="tableheader">Description</div>
        </th>
        
        <th> <!-- Header for Price -->
            <div id="tableheader">Price (CAD)</div>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.type == "Beverage")
    {
    <tr>
        
        <td id="pricecss">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <Img src="~/@Html.DisplayFor(modelItem => item.smallPhoto)" width=280 height=180/>
        </td>
        <!-- Future References
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.largePhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longDescription)
        </td>
        -->
        <td id="shortdesccss">
            @Html.DisplayFor(modelItem => item.shortDescription)
        </td>
        
        <td id="pricecss">
            $ @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @if (User.IsInRole("admin"))
                    {
                <div class="checkbtn">
                    @Html.ActionLink("Edit", "Edit", new { id = item.id })
                </div>
            }
            <div class="checkbtn">
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </div>
            @if (User.IsInRole("admin"))
                    {
                <div class="checkbtn">
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </div>
            }
        </td>
    </tr>
        }
    }

</table>
